<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_icon_15px_Fertilizer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{238,96},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_icon_15px_Hydrogen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{238,44},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_15px_Oxygen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{238,70},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_15px_biology.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{214,50},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_20px_Fertilizer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{214,80},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_20px_Hydrogen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{182,50},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_20px_Oxygen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{182,84},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_20px_biology.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{152,66},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_30px_Fertilizer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{228,0},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_30px_Hydrogen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{104,66},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_30px_Oxygen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{180,0},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_30px_biology.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,78},{44,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_icon_40px_Fertilizer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{60,66},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_40px_Hydrogen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{58,0},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_40px_Oxygen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{120,0},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_icon_40px_biology.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>resourceSprites.png</string>
            <key>size</key>
            <string>{264,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5548aa476fbf33d0cb837b74a725c9b5:558ee01af2a3a14d4f38c4234c37bd16:02a06b0104e67da3656d8c49c61233b2$</string>
            <key>textureFileName</key>
            <string>resourceSprites.png</string>
        </dict>
    </dict>
</plist>
